<style>
{{ css }}
</style>

<div>
    <h1>The State of the Coast Report</h1>
</div>

{% for dataset in data.datasets %}

    {% if dataset.dataset_id == "overview" or dataset.dataset_id == "shoreline_change" or dataset.dataset_id == "land_sub" %}
        <div class="section-grid">
    {% else %}
        <div class="section-grid" style="background-color: rgba(8,12,218,0.05);">
    {% endif %}


    {% if dataset.dataset_id == "sediment_class" %}
        <h3>The <span style="color: rgb(8,12,218)">Present</span> Day</h3>
    {% elif dataset.dataset_id == "shoreline_change" %}
        <h3>The <span style="color: rgb(8,12,218)">Historical</span> Trend</h3>
    {% elif dataset.dataset_id == "esl" %}
        <h3>The <span style="color: rgb(8,12,218)">Future</span> Drivers</h3>
    {% endif %}

    <h2>{{ dataset.title }}</h2>

        {% if dataset.dataset_id != "future_shoreline_change" and dataset.dataset_id != "shoreline_change" and dataset.dataset_id != "sediment_class"%}
        <div class="left-right-grid">
            <div>
                <div class="main-text">
                    <p>{{ dataset.text }}</p>
                </div>
            </div>

            <div>
                {% if dataset.image_svg %}
                {{ dataset.image_svg }}
                {% endif %}

                {% if dataset.image_base64 %}
                <img class="image" src="data:image/png;base64,{{ dataset.image_base64 }}" />
                {% endif %}
            </div>
        </div>
        {% endif %}

        {% if dataset.dataset_id == "future_shoreline_change" or dataset.dataset_id == "shoreline_change" or dataset.dataset_id == "sediment_class"%}
        <div class="top-bottom-grid">
            <div>
                <p>{{ dataset.text }}</p>
            </div>

            <div>
                {% if dataset.image_svg %}
                    {{ dataset.image_svg }}
                {% endif %}

                {% if dataset.image_base64 %}
                    <img class="image" src="data:image/png;base64,{{ dataset.image_base64 }}" />
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
    
{% endfor %}

{% if not data.datasets %}
    <p>Unfortunately there was no data available in the region you selected.</p>
{% endif %}

